body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* coloquei para visualizar melhor mas vou deixar assim */
  zoom: 60%;
}
.main {
  border-bottom: solid 1px gold;
}
