body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: red;
}
.redTitle {
  background-color: black;
  color: red;
  border: 3px solid gold;
}
.title {
  background-color: blue;
  color: silver;
  border: 3px solid gold;
}
