#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}
section {
  width: 100%;
  height: 95vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  grid-area: header;
  background-color: #4caf50;
  color: white;
}
main {
  grid-area: main;
  background-color: white;
}
aside {
  grid-area: aside;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
}
footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
}
/*aside img sizes*/
aside img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
